name: Go
on: [push]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go 1.13
      uses: actions/setup-go@v1
      with:
        go-version: 1.13
      id: go
    - name: Check out code into the Go module directory
      uses: actions/checkout@v1
    - name: Test v2
      run: GO111MODULE=on go test -race -cover -count=5 .
    - name: Test v3
      run: cd ./v3 && GO111MODULE=on go test -race -cover -count=5 ./...
    - name: Test v4
      run: cd ./v4 && GO111MODULE=on go test -race -cover -count=5 ./...
